// Colors
$blue = #44A1FF
$grey = #DDDDDD
$blue = #00a5e9
$darkerBlue = #2380de
$slate = #242424
$white = #FFFFFF

// The min-width to give icons text...
$wide = 820px

// The min-height to give the tools a little more breathing room...
$tall = 300px

// Theme
$active-color = $blue
$border-color = $grey
$background-color = $white
$component-color = $active-color

$dark-active-color = $active-color
$dark-border-color = lighten($slate, 10%)
$dark-background-color = $slate
$dark-component-color = $active-color

@font-face
  font-family 'Material Icons'
  font-style normal
  font-weight 400
  src url(./assets/MaterialIcons-Regular.woff2) format('woff2')

@font-face
  font-family 'Roboto'
  font-style normal
  font-weight 400
  src local('Roboto'), local('Roboto-Regular'), url(./assets/Roboto-Regular.woff2) format('woff2')

.material-icons
  font-family 'Material Icons'
  font-weight normal
  font-style normal
  font-size 22px
  display inline-block
  width 1em
  height 1em
  color #999
  line-height 1
  text-transform none
  letter-spacing normal
  word-wrap normal
  white-space nowrap
  direction ltr
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale
  &.medium
    transform scale(0.9)
  &.small
    transform scale(0.8)

.toggle-recording .material-icons
  color #999 !important
  &.enabled
    color red !important
    text-shadow 0 0 3px rgba(255, 0, 0, .4)

.toggle-private .material-icons
  color #999 !important
  &.enabled
    color #505050 !important
    text-shadow 0 0 3px rgba(255, 255, 255, 0.4)

html, body
  margin 0
  padding 0
  font-family Roboto
  font-size 16px
  color #444

*
  box-sizing border-box

$arrow-color = #444

.arrow
  display inline-block
  width 0
  height 0
  transition 100ms linear all
  &.up
    border-left 4px solid transparent
    border-right 4px solid transparent
    border-bottom 6px solid $arrow-color
  &.down
    border-left 4px solid transparent
    border-right 4px solid transparent
    border-top 6px solid $arrow-color
  &.right
    border-top 4px solid transparent
    border-bottom 4px solid transparent
    border-left 6px solid $arrow-color
  &.left
    border-top 4px solid transparent
    border-bottom 4px solid transparent
    border-right 6px solid $arrow-color

.slide-up-enter
  opacity 0
  transform translate(0, 50%)

.slide-up-leave-to
  opacity 0
  transform translate(0, -50%)

.notice
  display flex
  align-items center
  height 100%
  width 100%
  color #aaa
  div
    text-align center
    padding 0.5em
    margin 0 auto

.button
    padding 15px 10px
    display flex
    align-items center
    cursor pointer
    border-bottom-color transition
    border-bottom 3px solid transparent
    color #888
    position relative
    transition color .35s ease
    .app.dark &
        background-color $dark-background-color

    &:hover 
        color #555

    &.active
        color $active-color
        border-bottom 3px solid $active-color
    
    &:first-of-type
        margin-left auto

    &:not(.disabled):hover
        opacity 1
        color $active-color

    &.disabled
        opacity 0.45
        cursor not-allowed

    &:first-of-type
            margin-left auto
            
    .material-icons
        font-size 18px
        margin-right 5px
        color inherit
        @media (min-width: $wide)
            margin-right 5px

    .button-name
        display none

    @media (min-width: $wide)
        padding-right 20px
        padding-left 20px
        .button-name
            display block

    @media (min-height: $tall)
        padding-top 20px
        padding-bottom 20px

.active-bar 
    position absolute
    bottom 0
    width 0
    height 3px
    background-color $active-color
    transition all .32s cubic-bezier(0,.9,.6,1)

@keyframes rotate
  0%
    transform rotate(0deg)
  100%
    transform rotate(360deg)
    